@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-concrete text-gray-900;
  }
}

@layer utilities {
  .animate-draw {
    animation: draw 1s ease-out forwards;
  }
  
  @keyframes draw {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .animate-countup {
    animation: countup 0.8s ease-out;
  }

  @keyframes countup {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
